Package: storade-server
Version: 1.2
Architecture: amd64
Maintainer: Adeptio development team <development@adeptio.cc>
Installed-Size: 10543210
Depends: bash, python-openssl (>=0.15), adeptiocore, python (>=2.7), git, ufw, systemd-sysv, systemd
Conflicts: adeptio-qt
Section: devel
Priority: optional
Homepage: https://adeptio.cc
Vcs-Git: https://github.com/adeptio-project/adeptioDPKG.git
Description: Adeptio Core combines the best features of different coins in order to create an excellent digital payment asset. StorADE service technology with valuable adeptio masternode functionality serves storage & streaming platform for every day usage. 
